.header-services {
    // height: 60vh;

    @include nav;

    .services-title {
        margin-top: 5rem;
        font-size: 4rem;
        font-family: $styled-text;
        @include text-shadow();

        @include mobile() {
            margin-top: 10rem;
        }
    }
}
